# ===== Environment & Secrets =====
.env
.env.local
*.env

# ===== Raw & Processed Data (large files, not for version control) =====

!data/.gitkeep

# ===== Jupyter Notebook =====
notebooks/.ipynb_checkpoints/
**/.ipynb_checkpoints/*

# ===== Python =====
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
venv/
env/
.venv/

# ===== Power BI =====
dashboard/*.pbix.bak
dashboard/~$*.pbix

# ===== OS / Editor junk =====
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===== Logs =====
*.log
